{% extends 'base.html.twig' %}

{% block title %}New Course{% endblock %}

{% block body %}
    <hr style="height: 2px">
    <h1 class="titre-entete-crud">Céer une Nouvelle Course</h1>
    <hr style="height: 2px">

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">Retour à la liste des Courses</a>
{% endblock %}
