{% extends 'base.html.twig' %}

{% block title %}
    ASK Martigues | Accueil
{% endblock %}

{% block body %}
    <div class="bloc-titre-page">
        <hr class="separation-titre-page-haut">
        <h1 class="titre-page">Accueil</h1>
        <hr class="separation-titre-page-bas">
    </div>

{% endblock %}